h1{
    display: flex;
    justify-content: center;
    color: blue;
    margin-top: 100px;
    margin-bottom: 20px;
}
.app{
    display: flex;
    justify-content: center;
}
button{
    display: flex;
    justify-content: center;
    padding-left: 50px;
}

span{
    color: red;
}
.matchdate{
    background-color: green;
}

.para{
    padding-top: 100px;

}
