@media screen and (max-width:768px) {
    .navbar{
        flex-wrap: wrap;
        height: auto;
       
    }
    .logo{
        width: 50%;
    }
    .search-menu{
        width: 50%;
    }
    .menubar{
        width: 100%;
        order: 1;
        padding: 15px 0px 5px 1px;
    }
    .img-grid{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap:15px
     
    }
    .img-grid img{
        height: 120px;
        width:100%;
        
    }
    .img2-grid img{
        height: 120px;
        width: 100%;
        
    }
    h1{
        font-size: 18px;
    }
}